


.TopBannerA{
    display: flex;
    justify-content:center;
    margin: 55px 100px 0 100px;
    position: relative;
    
}

.TopBannerA img{
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    
  }
  
   .overlayA { 
    border-radius: 25px;
    opacity: 0.3;
    background-color: $bannerbck;
    mix-blend-mode: darken;
    width: 100%;
    height: 223px;
    position: absolute;

   }

@media screen and (max-width: 1000px){
  .TopBannerA img{
    width: 615px;
    height: 310px;
  }

  .overlayA{
    width: 615px;
    height: 310px;
  }
}



   @media screen and (max-width: 600px) {
    .TopBannerA{
        padding: 0;
    }
    
    .TopBannerA img {
        position: relative;
        width: 336px;
        height:223px;
       
      }
    
       .overlayA {
        width: 336px;
        height: 223px;
        
      }

   }